html, body, header, #intro{
  height: 100%;
  width: 100%;
  background-color: #BFDBF7;
  margin: auto;
  scroll-behavior: smooth;
}
#intro {
  height: 100%;
  width: 100%;
background-image: url("https://w-dog.net/wallpapers/10/19/346843697827766.jpg");
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}
.mask {
  padding-top: 80px;
}
.navbar {
  opacity: 0.7
}
#contact .container-fluid .row .col-md-7 form .form-group .form-control {
  border: none;
  border-bottom: 1px solid black;
  width: 60%;
}
#services {
  background-color: #BFDBF7;
  background-size: cover;
}
#projects {
 background-color: #BFDBF7;
  background-size: cover;
}
#contact {
  background-color: #BFDBF7;
  background-size: cover;
}
