html, body, header, #intro {
  height: 100%;
  width: 100%;
  margin: auto;
  scroll-behavior: smooth;
}
#intro {
  height: 100%;
  width: 100%;
background: url("https://www.switchbacktravel.com/sites/default/files/image_fields/Informational%20Articles/Tips%20for%20Winter%20Photography/Winter%20Photographer%20(skier).jpg");
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

.mask {
  padding-top: 80px;
}
.navbar {
  opacity: 0.7
}
#contact .container-fluid .row .col-md-7 form .form-group .form-control {
  border: none;
  border-bottom: 1px solid #fff;
  width: 60%;
}
#services {

}
#projects {

}
#contact {

}
